*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.parent{
  height: 100vh;
  border: 20px solid rgb(0, 0, 0);
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;

}

.child1{
  width: 200px;
  height: 200px;
  background: rgb(39, 61, 124);
  flex-grow: 1;

}

.child2{
  width: 200px;
  height: 200px;
  background: rgb(172, 57, 53);
  flex-grow: 2;
}

.child3{
  width: 200px;
  height: 200px;
  background: rgb(149, 43, 140);
  flex-grow: 3;
}
